.container {
	max-width: 550px;
	overflow: hidden;
	border-radius: 1rem;
}

.main {
	padding: 2rem;
	background: linear-gradient(300deg, rgba(227, 227, 227, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

@media all and (max-width: 445px) {
	.main {
		padding: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	.main {
		background: linear-gradient(300deg, rgba(47, 47, 47, 1) 0%, rgba(19, 19, 19, 1) 100%);
	}
}